@page
@model GoldenGuardians.Pages.BookingModel
@{
	ViewData["Title"] = "Make Booking";
}

<div class="whatsapp_main">
	<a href="https://call.whatsapp.com/voice/Clyujd4lOtYyxXjBzdkNwH" target="_blank"><img src="~/css/whatsapp icon.jpeg" width="50px;" height="50px;" class="whatsapp_img" /></a>
</div>
<style>
	.whatsapp_main{
		position:fixed;
		bottom:80px;
		right:20px;
		text-align:right;
		z-index:10;
	}
</style>